

.mailContainer{
    margin-bottom: 10px;
}

.mailTitle{
    cursor: pointer;
   
}
.mailBody{
    margin-left: 10px;
    margin-bottom: 10px;
}
.mailDate{
    
    margin-bottom: 10px;
    font-size: 12px;
    color: #686464;
}

.css-hswfci-MuiPaper-root-MuiCard-root{
  border: solid 1px #141414 !important;
}

.todayWork {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #a9a9a90f]";
  color: var(--bodyText);
  min-height: 410px;
  font-size: 14px;
}

.loading{
  text-align: center;
  display:block
}

.labels{
  font-weight: bold;
}

.MuiSvgIcon-root{
  font-size: 1.0rem !important;
}

.MuiTab-textColorPrimary
{
  font-weight: bold !important;
}